@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-primaria:#2C3639;
    --cor-secundaria:#DCD7C9;
    --cor-terciaria:#A27B5C;
    --cor-hover:#3F4E4F;

    --fonte-primaria:"Montserrat", sans-serif;
    --fonte-secundaria:"Krona One", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    }

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}
/* HEADER */
.cabecalho{
    padding: 2% 0% 0% 15%;
    
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    color:var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

/* MAIN */
.apresentacao{
    padding: 2% 15%;  
    align-items:center;
    display: flex;
    justify-content:space-between;
    gap: 10%;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__titulo {
    color: var(--cor-secundaria);
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}
.titulo_destaque {
    color:var(--cor-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-style: normal;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__bb{
    /* background-color: #22D4FD; */
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    text-decoration: none;
    padding: 21.5px 0;
    display: flex;
    justify-content:center;
    gap: 16px;
}
.apresentacao__links__bb:hover{
    /* estilize um link ao passar o mouse sobre ele */
    background-color:var(--cor-hover);
}   

.apresentacao__foto{
    width: 50%;
}
/* FOOTER */
.rodape{
    background-color: var(--cor-terciaria);
    /*Fonte*/
    font-family: var(--fonte-primaria);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;                                       
    color: var(--cor-primaria);
    padding: 24px ;                                                            

}

@media (max-width: 1300px) {
    .cabecalho{
        padding: 10%;  
   }
   .cabecalho__menu{
       justify-content: center;
   }
   .apresentacao{
       flex-direction: column-reverse;
       padding: 5%;
   }
   .apresentacao__conteudo{
       width: auto;
   }
    .apresentacao__conteudo__titulo{
        padding: 10% 0% 0% 0%;
    }
}













